<section id="contact" class="contact-section">
  <div class="container">
    <h2>Get in Touch</h2>
    <p>If you'd like to collaborate, discuss a project, or just say hi — drop me a message!</p>

    <div class="contact-details">
      <p><strong>Email:</strong>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=pawankumari08765@gmail.com" target="_blank" rel="noopener noreferrer">
          pawankumari08765&#64;gmail.com
        </a>

      </p>

      <p><strong>GitHub:</strong>
        <a href="https://github.com/kumaripawan" target="_blank">github.com/YOUR-GITHUB</a>
      </p>

      <p><strong>LinkedIn:</strong>
        <a href="https://www.linkedin.com/in/pawan-kumari-a45451306/" target="_blank">linkedin.com/in/YOUR-LINKEDIN</a>
      </p>

      <p><strong>Languages:</strong> Fluent in English, Hindi, and Punjabi</p>
    </div>
  </div>
</section>
