<section class="skills"id="skills">
    <div class="container">
      <h2>Technical Skills</h2>

      <div class="skills-grid">

        <div class="skill-category">
          <h3>Frontend</h3>
          <ul>
            <li>HTML, CSS, JavaScript (ES6+), TypeScript</li>
            <li>React.js, Angular, Vue.js</li>
            <li>Bootstrap, Tailwind CSS</li>
          </ul>
        </div>

        <div class="skill-category">
          <h3>Backend</h3>
          <ul>
            <li>Node.js, Ruby, Python (Flask, Django)</li>
            <li>Express.js</li>
            <li>.Net</li>
            <li>RESTful APIs</li>
          </ul>
        </div>

        <div class="skill-category">
          <h3>Database & DevOps</h3>
          <ul>
            <li>MySQL</li>
            <li>Docker, Jenkins, GitHub Actions, Kubernetes</li>
            <li>Git & GitHub</li>
          </ul>
        </div>

        <div class="skill-category">
          <h3>Testing</h3>
          <ul>
            <li>Jest, Cypress, Mocha</li>
            <li>Postman, Unit Testing</li>
          </ul>
        </div>

        <div class="skill-category">
          <h3>Soft Skills</h3>
          <ul>
            <li>Problem-solving & analytical thinking</li>
            <li>Time management & collaboration</li>
            <li>Strong communication</li>
          </ul>
        </div>

      </div>
    </div>
  </section>
