<section class="experience" id="experience">
  <div class="container">
    <h2>Professional Experience</h2>

    <div class="experience-grid">
      <div class="exp-card ">
        <h3>Junior Web Developer</h3>
        <span>R.K. Tuition Centre</span>
        <p class="date">Jan 2019 – May 2023</p>
        <ul>
          <li>Designed and developed a responsive website for the institute.</li>
          <li>Built dynamic web pages using PHP and MySQL.</li>
          <li>Improved website load speed by 30% through optimization.</li>
        </ul>
      </div>

      <div class="exp-card">
        <h3>IT Executive</h3>
        <span>Thapar Ispat Limited</span>
        <p class="date">Jan 2018 – Nov 2018</p>
        <ul>
          <li>Created internal IT support portal, reducing support requests by 25%.</li>
          <li>Trained staff on new tech tools and best practices.</li>
        </ul>
      </div>

      <div class="exp-card">
        <h3>Intern Web Developer</h3>
        <span>Infowiz Pvt Ltd</span>
        <p class="date">Jul 2018 – Dec 2018</p>
        <ul>
          <li>Assisted in developing internal tools using HTML, CSS, and JavaScript.</li>
          <li>Worked with senior devs to debug and enhance site functionality.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
